@model TransactionsViewModel
@{
    ViewBag.Title = "Transactions of Bank Account ";
}
@if (ViewBag.Error != null)
{
    <div class="card" style="text-align:center">
        <div class="card-body">
            <h4 style="color:red">@ViewBag.Error</h4>
        </div>
    </div>
}
@if (ViewBag.Message != null)
{
    <div class="card" style="text-align:center">
        <div class="card-body">
            <h4 style="color:lawngreen">@ViewBag.Message</h4>
        </div>
    </div>
}
@if (Model != null)
{
    <br />
    <hr />
    <h3>@ViewBag.Title <span style="font-size: 1.5em">@Model.BankAccountName</span></h3>
    <hr />
    <a href="@Url.Action("Create","Transaction", new {id = Model.BankAccountId })" class="custom-btn">Create</a>
    <br />
    <br />
    <table id="table_id" class="table-striped table-bordered compact" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Ammount</th>
                <th>Transaction Date</th>
                <th>Void</th>
                <th>Voided</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Transactions.Any())
            {
                foreach (var transaction in Model.Transactions)
                {
                    <tr class="text-center">
                        <td>@transaction.Id</td>
                        <td>@transaction.Title</td>
                        <td>@transaction.Description</td>
                        <td>@transaction.Created.ToString("dd-MM-yyyy HH:mm")</td>
                        <td>
                            @if (transaction.Updated != null)
                            {
                                @transaction.Updated.Value.ToString("dd-MM-yyyy HH:mm")
                            }
                        </td>
                        <td>@transaction.Ammount</td>
                        <td>@transaction.TransactionDate.ToString("dd-MM-yyyy HH:mm")</td>
                        <td>
                            @if (!transaction.Voided)
                            {
                                using (Html.BeginForm("VoidTransaction", "Transaction", new { id = transaction.Id, bankAccountId = Model.BankAccountId, transactionName = transaction.Title }))
                                {
                                    <button type="submit" class="fa fa-exclamation fa-lg"
                                            onclick="return confirm('Are you sure you want to void transaction: @transaction.Title ?');" />
                                }
                            }
                        </td>
                        <td>
                            @if (transaction.Voided && transaction.CanEdit)
                            {
                                <div class="justify-content-around flex-b">
                                    <i class="fa fa-exclamation-circle fa-lg" style="color:red"></i>
                                </div>
                            }
                        </td>
                        <td>
                            @if (transaction.CanEdit)
                            {
                                <div class="justify-content-around flex-b">
                                    <a title="Edit Transaction" href="@Url.Action("Edit", "Transaction", new { id = transaction.Id, bankAccountId = Model.BankAccountId })">
                                        <i class="fa fa-edit fa-lg"></i>
                                    </a>
                                </div>
                            }
                        </td>
                        <td>
                            @if (transaction.CanEdit)
                            {
                                using (Html.BeginForm("Delete", "Transaction", new { id = transaction.Id, bankAccountId = Model.BankAccountId }))
                                {
                                    <button type="submit" class="fa fa-trash fa-lg"
                                            onclick="return confirm('Are you sure you want to delete transaction: @transaction.Title ?');" />
                                }
                            }
                        </td>
                    </tr>
                }
            }
    </table>
}
<br />
<div>
    @Html.ActionLink("Back to Households", "GetHouseholds", "Household", new { id = Model.BankAccountId }, new { @style = "padding: 5px; border-radius: 5px; background-color: lightgrey" })
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}