@model CategoriesViewModel
@{
    ViewBag.Title = "Categories of household ";
}
@if (ViewBag.Error != null)
{
    <div class="card" style="text-align:center">
        <div class="card-body">
            <h4 style="color:red">@ViewBag.Error</h4>
        </div>
    </div>
}
<br />
<hr />
@if (Model != null)
{
    <!--Show all categories of houswhold-->
    <h3>@ViewBag.Title <span style="font-size: 1.5em">@Model.HouseholdName</span></h3>
    <hr />
    if (Model.IsOwner)
    {
        <a href="@Url.Action("Create","Category", new {id = Model.HouseholdId })" class="custom-btn">Create</a>
        <br />
    }
    <br />
    <table id="table_id" class="table-striped table-bordered compact" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Categories.Any())
            {
                foreach (var category in Model.Categories)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        <td>@category.Created.ToString("dd-MM-yyyy HH:mm")</td>
                        <td>
                            @if (category.Updated != null)
                            {
                                @category.Updated.Value.ToString("dd-MM-yyyy HH:mm")
                            }
                        </td>
                        <td>
                            @if (Model.IsOwner)
                            {
                                <div class="justify-content-around flex-b">
                                    <a title="Edit Household" href="@Url.Action("Edit", "Category", new { id = category.Id, householdId = Model.HouseholdId })">
                                        <i class="fa fa-edit fa-lg"></i>
                                    </a>
                                </div>
                            }
                        </td>
                        <td>
                            @if (Model.IsOwner)
                            {
                                using (Html.BeginForm("Delete", "Category", new { id = category.Id, householdId = Model.HouseholdId }))
                                {
                                    <button type="submit" class="fa fa-trash fa-lg"
                                            onclick="return confirm('Are you sure you want to delete category: @category.Name ?');" />
                                }
                            }
                        </td>
                    </tr>
                }
            }
    </table>
}
<br />
<div>
    @Html.ActionLink("Back to Households", "GetHouseholds", "Household", new { }, new { @style = "padding: 5px; border-radius: 5px; background-color: lightgrey" })
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
    <script src="~/Scripts/scriptActionDelete.js" type="text/javascript"></script>
}