@model CategoriesViewModel
@{
    ViewBag.Title = "Categories of household ";
}
<hr />
@if (ViewBag.Error != null)
{
    <div class="card" style="text-align:center">
        <div class="card-body">
            <h4 style="color:red">@ViewBag.Error</h4>
        </div>
    </div>
}
<br />
<!--Show all categories of houswhold-->
<h4>@ViewBag.Title @Model.HouseholdName</h4>
<hr />
@if (Model != null)
{
    if (Model.IsOwner)
    {
        <a href="@Url.Action("Create","Category", new {id = Model.HouseholdId })" class="btn btn-dark">Create</a>
        <br />
    }
    <br />
    <table id="table_id" class="table-striped table-bordered compact" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Categories.Any())
            {
                foreach (var category in Model.Categories)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        <td>@category.Created.ToString("dd-MM-yyyy HH:mm")</td>
                        <td>
                            @if (category.Updated != null)
                            {
                                @category.Updated.Value.ToString("dd-MM-yyyy HH:mm")
                            }
                        </td>
                        <td>
                            @if (Model.IsOwner)
                            {
                                <div class="justify-content-around flex-b">
                                    <a title="Edit Household" href="@Url.Action("Edit", "Category", new { id = category.Id, householdId = Model.HouseholdId })">
                                        <i class="ti-pencil text-primary"></i>
                                    </a>
                                </div>
                            }
                        </td>
                        <td>
                            @if (Model.IsOwner)
                            {
                                <div class="justify-content-around flex-b">
                                    <form method="post" action="@Url.Action("Delete", "Category", new { id = category.Id, householdId = Model.HouseholdId })">
                                        <a href="#" title="Delete Category" class="actionDelete">
                                            <i class="ti-trash"></i>
                                        </a>
                                    </form>
                                </div>
                            }
                        </td>
                    </tr>
                }
            }
    </table>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
    <script src="~/Scripts/scriptActionDelete.js" type="text/javascript"></script>
}