@model List<HouseholdViewModel>
@{
    ViewBag.Title = "Your households";
}
<hr />
@if (ViewBag.Error != null)
{
    <div class="card" style="text-align:center">
        <div class="card-body">
            <h4 style="color:red">@ViewBag.Error</h4>
        </div>
    </div>
}
<!--Show all households-->
@if (Model != null || Model.Any())
{
    <table id="table_id" class="table-striped table-bordered compact" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Categories</th>
                <th>Bank Accounts</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Edit</th>
                <th>View Users</th>
                <th>Invite User</th>
                <th>Leave</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var household in Model)
            {
            <tr>
                <td>
                    @household.Id
                                <a title="Details" href="@Url.Action("GetHouseholdDetails", "Household", new { id = household.Id })">
                                    <i class="ti-info text-primary"></i>
                                </a>
                            </td>
                <td>@household.Name</td>
                <td>@household.Description</td>
                <td>
                    <div class="justify-content-around flex-b">
                        <a title="See Categories" href="@Url.Action("GetCategories", "Category", new { id = household.Id })">
                            <i class="ti-files text-primary"></i>
                        </a>
                    </div>
                </td>
                <td>
                    <div class="justify-content-around flex-b">
                        <a title="See Bank Accounts" href="@Url.Action("GetBankAccounts", "BankAccount", new { id = household.Id})">
                            <i class="ti-files text-primary"></i>
                        </a>
                    </div>
                </td>
                <td>@household.Created.ToString("dd-MM-yyyy HH:mm")</td>
                <td>
                    @if (household.Updated != null)
                    {
                        @household.Updated.Value.ToString("dd-MM-yyyy HH:mm")
                    }
                </td>
                <td>
                    @if (household.IsOwner)
                    {
                        <div class="justify-content-around flex-b">
                            <a title="Edit Household" href="@Url.Action("Edit", "Household", new { id = household.Id })">
                                <i class="ti-pencil text-primary"></i>
                            </a>
                        </div>
                    }
                </td>
                <td>
                    <div class="justify-content-around flex-b">
                        <a title="See All Members" href="@Url.Action("GetUsers", "Household", new { id = household.Id, householdName = household.Name})">
                            <i class="ti-id-badge text-primary"></i>
                        </a>
                    </div>
                </td>
                <td>
                    @if (household.IsOwner)
                    {
                        <div class="justify-content-around flex-b">
                            <a title="Invite Users To Household" href="@Url.Action("Invite", "Household", new { id = household.Id, householdName = household.Name })">
                                <i class="ti-gift text-primary"></i>
                            </a>
                        </div>
                    }
                </td>
                <td>
                    @if (!household.IsOwner)
                    {
                        <div class="justify-content-around flex-b">
                            <form method="post" action="@Url.Action("Leave", "Household", new { id = household.Id })">
                                <a href="#" title="Leave Household" class="actionLeave">
                                    <i class="ti-unlink"></i>
                                </a>
                            </form>
                        </div>
                    }
                </td>
                <td>
                    @if (household.IsOwner)
                    {
                        <div class="justify-content-around flex-b">
                            <form method="post" action="@Url.Action("Delete", "Household", new { id = household.Id })">
                                <a href="#" title="Delete Household" class="actionDelete">
                                    <i class="ti-trash"></i>
                                </a>
                            </form>
                        </div>
                    }
                </td>
            </tr>
            }
    </table>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
    <script src="~/Scripts/scriptAction.js" type="text/javascript"></script>
    <script src="~/Scripts/scriptActionDelete.js" type="text/javascript"></script>
}