@model InviteViewModel
@{
    ViewBag.Title = "Invite a user to the household";
}
@if (ViewBag.Message != null)
{
    <div class="card" style="text-align:center">
        <div class="card-body">
            <h4 style="color:green">@ViewBag.Message</h4>
        </div>
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="card" style="text-align:center">
        <div class="card-body">
            <h4 style="color:red">@ViewBag.Error</h4>
        </div>
    </div>
}
<br />
<hr />
<h3>@ViewBag.Title <span style="font-size: 1.5em">@Request.QueryString["householdName"]</span></h3>
<hr />
@using (Html.BeginForm("Invite", "Household", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.HouseholdName)
    <div class="form-group">
        <label class="col-md-2 control-label">Put User's Email:</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Invite" class="btn btn-dark" />
        </div>
    </div>
}
<br />
<div>
    @Html.ActionLink("Back to Households", "GetHouseholds", new { }, new { @style = "padding: 5px; border-radius: 5px; background-color: lightgrey" })
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}