@model HouseholdBudgeterFrontEnd.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "login100-form validate-form p-l-55 p-r-55 p-t-170", role = "form" }))
{
    @Html.AntiForgeryToken()
    <span class="login100-form-title"> Reset your password </span>

    @Html.ValidationSummary("", new { @class = "text-danger" })
    @*@Html.HiddenFor(model => model.Code)*@
    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter your email/username">
        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email/UserName", @class = "input100" })
    </div>
    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter your password">
        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "input100" })
    </div>
    <div class="wrap-input100 validate-input m-b-16" data-validate="Please confirm your password">
        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = " Confirm Password", @class = "input100" })
    </div>
    <div class="wrap-input100 validate-input m-b-16" data-validate="Please put your code">
            @Html.TextBoxFor(m => m.Code, new { placeholder = " Code that was sent you by email", @class = "input100" })
        </div>
    <div class="container-login100-form-btn">
        <button type="submit" class="login100-form-btn"> Reset </button>
    </div>
}

